@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

body, html {
  background-color: rgb(19, 20, 20);
  width: 100%;
	height: 100%;
  color: #ffffff;
  font-family: Roboto Condensed;
  }


.titles{
  font-size: 40px;
  font-style:oblique;
  color:#208c8c
}
#paragraph{
	padding-left: 15%;
	padding-bottom:10%;
	text-align:center;
  font-size:30px;

}

.center {
  margin-left: auto;
  margin-right: auto;
}

.center1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.texts{
  font-size: 30px;
}

table, th, td {
	padding:50px;
  text-align: center;
    vertical-align: middle;
  }

.prices{
  border: 1px solid white;
  border-collapse: collapse;
  font-size: 30px;
}

.menuitem{
  width: 250px;
  height: 50px;
}

.vids {
  border-radius: 25px;
  overflow: hidden;
  width:400px;
}

.vidsbig {
  border-radius: 25px;
  overflow: hidden;
  width:500px;
}

.paddings{
  padding-left: 5%;
  padding-right:5%;
}

.calltoaction:hover {
  filter: brightness(60%);
}