@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

body, html {
  background-color: rgb(19, 20, 20);
  width: 100%;
	height: 100%;
  color: #ffffff;
  font-family: Roboto Condensed;
  }


#servicecategories{
  padding-bottom: 20px;
}

.titles{
  font-size: 40px;
  font-style:oblique;
  color:#208c8c
}
#paragraph{
	padding-left: 10px;
  padding-right: 5%;
	text-align:center;
  font-size:30px;

}
.mobile{
  visibility: hidden;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.center1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.texts{
  font-size: 30px;
}

table, th, td {
	padding:50px;
  text-align: center;
    vertical-align: middle;
  }

.prices{
  border: 1px solid white;
  border-collapse: collapse;
  font-size: 30px;
}

.menuitem{
  width: 250px;
  height: 50px;
}

.vids {
  border-radius: 20px;
  overflow: hidden;
  
}

.vidsbig {
  border-radius: 25px;
  overflow: hidden;
  width:500px;
}

.paddings{
  padding-left: 25px;
  padding-right:25px;
}

.calltoaction:hover {
  filter: brightness(60%);
}

.mascot {
  position: fixed;
  bottom: 30px;
  right: 0;
  opacity: 0;
  width: 200px;
  height: auto;
  z-index: 999;
  animation: floatMascot 2s ease-in-out infinite alternate; 
}

.mascot.active {
  opacity: 1;
  transition: opacity 1s ease;
}

@keyframes floatMascot {
  from {
      transform: translateY(0);
  }
  to {
      transform: translateY(-20px);
  }
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #fff;
  color: #000000;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: fixed;
  z-index: 1000;
  bottom: 100px;
  right: 160px;
  
  opacity: 0;
  transition: opacity 0.3s;
}

.container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .mascot {
    width: 140px; /* 30% smaller than the original width */
  }
  .tooltip{
    right:120px;
    bottom: 80px;
  }
  .flex-container {
    flex-direction: column; /* Stack videos vertically */
    align-items: center; /* Center-align videos */
    padding-left: 0;
  }
  
  .flex-container li {
    margin-bottom: 20px; /* Add space between videos */
    padding-left: 0;
  }

  #footer{
    font-size: 20px;
  }

  #contactme{
    width: 100%; /* Adjust as per your requirement */
    margin: auto; /* Center the container horizontally */
  }
  .texts{
    font-size: 20px;
  }
  .mobile{
    visibility: visible;
  }
}

.container {
  position: relative;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  margin-bottom: 20px; /* Add space between rows */
  padding-top: 10px;
  padding-bottom:10px;
  align-items: center;
}

